project_name            = "github-showcase"
owner                   = "balakrishnavalluri"
environment             = "demo"
github_profile_url      = "https://github.com/balakrishnav171"
resource_group_name     = "rg-github-showcase-demo"
location                = "East US"
vm_size                 = "Standard_B2s"
allowed_ssh_cidr        = "0.0.0.0/0"
vm_admin_username       = "azureuser"
vm_admin_ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCreplace-with-your-real-key"
sql_admin_username      = "sqladminuser"
